footer {
    width: 100%;
    height: 70px;

    background-color: rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    color: #4d4d4d;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-left: 30px;
}

footer a {
    margin-right: 30px;
    color: #4d4d4d;
    text-decoration: none;
}