#main-work-sec {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#work-text {
    margin: 50px 0 50px 0;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#mode-bar {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.set-btn {
    width: 200px;
    height: 100%;
    margin: 0 10px 0 10px;

    background-color: rgba(255, 255, 255, 0.07);
    border: 0;
    border-radius: 10px;
    cursor: pointer;

    color: #fff;
    font-size: 15px;

    transition: 0.3s;
}

.set-btn:hover {
    scale: 1.03;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-shadow: 0px 0px 10px #fff;
}


/* WORK SECTION */
#works-section {
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.topic {
    margin: 50px 0 50px 0;

    color: #fff;
    font-size: 35px;
}

.line {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;

    display: flex;
    gap: 20px;
}

.work-block {
    width: calc((100% / 3) - 20px);
    height: 400px;

    background-color: #000;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    transition: 0.15s;
}

.work-block:hover {
    scale: 1.02;
    transform: translateY(-5px);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 100px
}

.link-to-work {
    width: 100%;
    height: 100%;

    position: absolute;
}

.work-preview {
    width: 100%;
    height: 270px;

    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.vignette-preview {
    height: 50px;

    background: linear-gradient(to bottom, transparent, #000);
    opacity: 0.9;

    position: absolute;
    top: 220px;
}

.work-name {
    color: #fff;
    font-size: 20px;

    position: absolute;
    bottom: 90px;
    left: 20px;
}

.work-description {
    color: #6b6b6b;
    font-size: 17px;

    position: absolute;
    bottom: 40px;
    left: 20px;
}