#description-sec {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.work-title {
    margin-top: 30px;
    opacity: 0.8;
    color: #fff;
    font-size: 100px;
    text-shadow: rgba(255, 255, 255, 0.6) 0 0 15px;
}

#work-details {
    margin-top: 50px;
    margin-left: 10%;
    color: #b3b3b3;
}

#galery-sec {
    width: 100%;
    height: 600px;

    overflow-x: hidden;
    position: relative;
}

#slider {
    height: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-vignette {
    width: 100%;
    height: 700px;

    background: linear-gradient(to bottom, transparent, #000, transparent);

    position: absolute;
    z-index: -1;
}

#image-main {
    scale: 1.3;
}

.image-work {
    width: 600px;
    height: 80%;
    margin: 0 20px 0 20px;

    border-radius: 10px;
    cursor: zoom-in ;
}

#slide-buttons {
    width: 92.5%;

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-btn {
    width: 40px;
    height: 70px;
    
    cursor: pointer;

    z-index: 2;
}

#post-info-sec {
    width: 100%;
    height: 300px;
}