.work-title {
    margin-top: 30px;
    opacity: 0.8;
    color: #fff;
    font-size: 100px;
    text-shadow: rgba(255, 255, 255, 0.6) 0 0 15px;
}

#work-details {
    margin-top: 50px;
    margin-left: 10%;
    color: #b3b3b3;
}

#gallary-sec {
    width: 100%;
    height: 600px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-work-left {
    height: 70%;
}

#image-work-midle {
    height: 90%;
    cursor: zoom-in ;
}

#image-work-right {
    height: 70%;
}

.image-work {
    margin: 0 20px 0 20px;
    border-radius: 15px;
}

#slider-vignette {
    width: 100%;
    height: 700px;

    background: linear-gradient(to bottom, transparent, #000);

    position: absolute;
    z-index: -1;
}

#slide-buttons {
    width: 99%;

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-btn {
    width: 90px;
    height: 120px;
    
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: 0;
    opacity: 0.3;
    cursor: pointer;

    z-index: 2;

    transition: 0.1s;
}

.slide-btn:hover {
    scale: 1.05;
    opacity: 0.5;
}

#slide-right {
    background-image: url("../img/ui/arrow_right.svg");
}

#slide-left {
    background-image: url("../img/ui/arrow_left.svg");
}

#buttons-vignette {
    width: 100%;
    height: 100%;

    background: linear-gradient(to left, #000, transparent, transparent, transparent, #000);
    user-select: none;
    pointer-events: none;

    position: absolute;
    z-index: 1;
}

#description-sec {
    width: 100%;
    height: 300px;

    background-color: #000;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#scale-window {
    width: 100%;
    height: 100vh;

    user-select: none;
    pointer-events: none;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#scaled-image {
    width: 90%;
    max-height: 95vh;

    object-fit: cover;
    border-radius: 20px;
    border: #fff;
    cursor: zoom-out;
}